@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  justify-items: center;
  gap: 1rem;
}

@media (max-width: 1360px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media (max-width: 1075px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 725px) {
  .wrapper-content {
    margin: 0 !important;
  }
  .card-container {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

.card-item {
  border: 1px solid #e5e5e5;
  margin: 15px 10px;
  transition: all 0.4s ease-in-out;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  font-family: "Press Start 2P", cursive;
  padding: 10px;
}

.card-item:hover {
  border: 1px solid #e5e5e5;
  box-shadow: 0px 0px 10px #e5e5e5;
  margin: 10px;
  transform: scale(1) rotate(3deg);
  opacity: 0.8;
  cursor: pointer;
}

.card-top {
  display: flex;
  position: relative;

  height: 50%;
  margin-bottom: 30px;
}

.card-image {
  position: absolute;
  height: 175px;
  width: 175px;
  top: 11px;
  right: 25px;
  z-index: 2;
}

.pokeball {
  opacity: 0.5;
  z-index: 1;
}

.pokeball-color {
  display: none;
}

.card-item:hover .pokeball-color {
  display: inline-block;
}

.card-item:hover .pokeball {
  display: none;
}

a {
  text-decoration: none;
}

a:link {
  color: inherit;
}
a:visited {
  color: inherit;
}
a:focus {
  color: blue;
}

#progressBarContainer {
  position: fixed;
  z-index: 10;
  background: rgba(255, 255, 255, 0.05);
  width: 100%;
  top: 0px;
  left: 0;
}

#progressBar {
  background: linear-gradient(to left, red, violet);
  transform-origin: top left;
  transform: scale(0, 0);
  opacity: 0;
}

#progressBarContainer,
#progressBar {
  height: 7px;
}

.nextPageLoading {
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;

  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.nextPageNoMoreMsg {
  padding: 20px;
}
