@import url("https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap");

.mb-1 {
  margin-bottom: 1rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-3 {
  margin-right: 3rem;
}
.w-4 {
  width: 4rem;
}
.h-4 {
  height: 4rem;
}

.div1-about-container div {
  text-align: center;
}

.about-container {
  font-family: "Roboto", sans-serif;
  height: 100vh;

  position: relative;
}

.about-header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;

  border-radius: 20px;
  height: 17rem;
  color: white;
  font-weight: 700;
}

.about-header-left {
  margin-top: 2rem;
}

.about-header-right {
  font-size: 1.5rem;
}

.about-header-mid {
  grid-column: 1 / 3;
  justify-self: center;
  position: relative;
}

.arrow-left {
  cursor: pointer;
  fill: white;
}

.bg-span {
  background-color: rgba(229, 231, 235, 0.4);

  border-radius: 20px;
  padding: 0.5rem 0.5rem;
}

.bg-img {
  position: absolute;
  left: calc(50% - 170px);
  clip: rect(0px, 335px, 180px, 0px);

  top: -105px;
}

.about-poke-image {
  height: 200px;
  width: 200px;
}

.poke-position {
  position: absolute;
  left: calc(50% - 98px);
  top: -100px;
  z-index: 2;
}

.about-main {
  background-color: #f5f5f5;

  border-radius: 20px;
  margin-top: 15px;
  padding: 1.2rem 2rem;
  height: calc(100vh - 17rem);
}

.ball-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  justify-content: center;
  padding-top: 30px;
}

.bg-image {
  background-size: cover;
  background-image: url("../../assets/bgpokecoll.png");
}
.bg-image:hover {
  cursor: pointer;
}

.h4-position {
  position: relative;
  top: 38px;
  left: 13px;
}

.about-main .font-span {
  font-size: 1.4rem;
  font-family: "Judson", serif;
  font-weight: 700;
  font-style: italic;
}

@media (max-width: 550px) {
  .ball-container {
    grid-template-columns: repeat(4, 90px);
  }
}
