.search-container {
  text-align: center;
}

.search-input {
  margin-top: 20px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #ccc;
  padding: 0 20px;
  font-size: 16px;
  margin-bottom: 20px;
}
