.rock {
  background-color: rgb(148, 81, 81);
}
.ghost {
  background-color: #664397;
}
.electric {
  background-color: #ffe102;
}
.bug {
  background-color: #f6d6a7;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #efe68e;
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.fire {
  background-color: #f71a1a;
}
.grass {
  background-color: rgb(39, 203, 79);
}
.water {
  background-color: #6790f0;
}
.fighting {
  background-color: #f0d8d8;
}
.dark {
  background-color: #b8b8b8;
}
.psychic {
  background-color: #f8b8b8;
}
.ice {
  background-color: #e6e6e6;
}
.ground {
  background-color: #f9e0d2;
}
.dragon {
  background-color: #f43f3f;
}
.steel {
  background-color: #b8b8b8;
}
